#test {
  background-image: url(https://images.unsplash.com/photo-1512232941074-f617e1476738?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b8eff88bd084672bf1d3f3ed7aa48a2f&auto=format&fit=crop&w=934&q=80);
}

#circle {
  background: radial-gradient(circle at 50% 50%, transparent 100px, hsla(0, 0%, 0%, 0.8) 105px);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-position 1s;
  width: 100%;
}

.n-0 #circle {
  background-position: 0 0;
}

.n-1 #circle {
  background-position: -70px -100px;
}

.n-2 #circle {
  background-position: -220px 220px;
}

.n-3 #circle {
  background-position: -450px -100px;
}

.n-4 #circle {
  background-position: 270px -50px;
}

.n-5 #circle {
  background-position: 0px -250px;
}

* {
  box-sizing: border-box;
}

html, body, #test {
  height: 100%;
  margin: 0;
  width: 100%;
}

#ui-stuff {
  left: 0%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 5;
}

button {
  font-size: 2em;
}

small {
  background-color: hsla(0, 0%, 100%, 0.75);
  display: block;
  padding: 0.5em;
  top: 0;
  margin-bottom: 10px;
  width: 100%;
}

small a {
  color: hsl(200, 55%, 40%);
}
