* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}


.what{
    overflow: scroll;
    height: 100vh
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #EFF0F4;
}

.wdc{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.droplet {
    position: relative;
    width: 300px;
    height: 300px;
    box-shadow:
        inset 20px 20px 20px rgba(0, 0, 0, 0.05),
        25px 35px 20px rgba(0, 0, 0, 0.05),
        25px 30px 30px rgba(0, 0, 0, 0.05),
        inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.droplet:nth-child(1) {
    border-radius: 47% 53% 70% 30% / 30% 43% 57% 70%;
    
}



.droplet:nth-child(2) {
    border-radius: 61% 39% 52% 48% / 44% 59% 41% 56%;
}

.droplet:nth-child(3) {
    border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}

.droplet:hover {
    border-radius: 50%;
}

.droplet::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 85px;
    width: 35px;
    height: 35px;
    background: #FFF;
    border-radius: 50%;
    opacity: 0.9;
}

.droplet::after {
    content: '';
    position: absolute;
    top: 70px;
    left: 110px;
    width: 15px;
    height: 15px;
    background: #FFF;
    border-radius: 50%;
    opacity: 0.9;
}

.water-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
 
}

.content h2 {
    position: relative;
    width: 80px;
    height: 80px;
    color: var(--clr);
    background: #EFF0F4;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
        inset -2px -5px -10px rgba(255, 255, 255, 1),
        15px 15px 10px rgba(0, 0, 0, 0.05),
        15px 10px 15px rgba(0, 0, 0, 0.025);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.content a {
    position: relative;
    padding: 10px 25px;
    background: var(--clr);
    text-decoration: none;
    color: #FFF;
    border-radius: 25px;
    font-weight: 500;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    opacity: 0.75;
    transition: 0.5s;
}

.content a:hover {
    opacity: 1;
}

.content a::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
}

.content p {
    color: rgb(83, 76, 76);
}

@media (max-width: 600px) {
    .droplet {
        width: 280px;
        height: 280px;
    }
}

.mentees{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;

}

.mentees2{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;

}


.mentors{
    display: flex;
    justify-content: center;
    width: 100%;
    
}


.info-about{
  
    height: 100px;
    width: 100px;
    padding: 3px;
    border-radius: 100%;
    transition: 0.3s;
    z-index: 10;
  }

  .info-about > img{

    height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  object-fit: fill;
  }


  .about-us-section {

    padding-top: 100px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
  }
  

  .team {

    border-radius: 10px;
    text-align: center;
  } 
  .about-us-section h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    
}
  
  .about-us-section p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
  }
  