.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  opacity: 1;
}

.gallery-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.gallery-image {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.gallery-text {
  font-size: 2em;
}
.divz-item {
  opacity: 0;
}
