.home {
  background-color: #8cd5f2;
  height: 100vh;
  padding: 0;
  scroll-snap-align: start;
}

.home .map-content {
  width: 100vw;
  display: grid;
  grid-template-columns: 3fr 6fr 5fr;
  justify-content: flex-end;
  z-index: 10;
}

.home .map-content .overlay {
  position: absolute;

  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.home .map-content .overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(120deg, #04080a, #020609);
  opacity: 0.7;
  z-index: 12;
  pointer-events: none;
  animation: fadeInOuOverlay 0.2s ease-in;
}
@keyframes fadeInOuOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

.home .information-section {
  align-items: center;
  justify-content: center;
  height: 100vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "poppins";
  font-weight: bold;
  z-index: 13;
}

.home .controls {
  align-self: flex-end;
}

.home .image .image-graphics {
  position: absolute;
  height: 60px;
}

.home .image {
  height: 100vh;
  position: relative;
}

.home .image img {
  height: 100%;
}

.information-section {
  height: 100%;
  width: 100%;
}

.information-section .information-content {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  justify-content: center;
  align-items: center;
  animation: fadeInOu 1s ease-in;
  margin-top: 6rem;
}

.info-circle {
  background-color: rgb(76, 177, 255);
  height: 100px;
  width: 100px;
  padding: 3px;
  border-radius: 100%;
  transition: 0.3s;
  z-index: 10;
}

.info-circle > img,
gif,
svg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  object-fit: fill;
}
.home .location {
  position: absolute;
  background-color: rgb(76, 177, 255);
  height: 60px;
  width: 60px;
  padding: 3px;
  border-radius: 100%;
  transition: 0.3s;
  z-index: 10;
}

.home .location img,
.home .location-clicked img {
  position: absolute;
  z-index: 10;
  height: 60px;
  width: 60px;
  transition: 0.3s;
}

.home .location img{
  background-color: white;
}

.home .location .mainImg:hover {
  opacity: 0;
}
.home .location .gif {
  z-index: 0;
}
.home .location-clicked .mainImg:hover {
  opacity: 0;
}
.home .location-clicked .gif {
  z-index: 0;
}

.location-clicked {
  position: absolute;
  background-color: rgb(76, 177, 255);
  height: 60px;
  width: 60px;
  padding: 3px;
  border-radius: 100%;
  transition: 0.3s;
  z-index: 13;
  border-bottom-right-radius: 0%;
}

.home .location-clicked img {
  overflow: hidden;
  border-radius: 50%;
  object-fit: fill;
}

.home .location img {
  overflow: hidden;
  border-radius: 50%;
  object-fit: fill;
}

.home .location:hover {
  cursor: pointer;
}

.place > img {
  height: 20px;
}

.place {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: lighter;
}
.navigate-story {
  margin-top: 9px !important;
}

.cc {
  width: 10px;
  height: 10px;
}

.home.fade-in {
  animation: fadeInOu 2s ease-in;
}

/* Fade-in and fade-out animation */
@keyframes fadeInOu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home button {
  background: none;
  background-color: #8cd5f2;
  border: 1px solid #8cd5f2;
  padding: 10px 30px;
}
