canvas {
  width: 100vw !important;
  height: 100vh !important;
}

.threeScene {
  background: linear-gradient(
    to bottom,
    #020200,
    #e9a60a
  ); /* Gradient from light blue to white */
}
.fullscreen-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.box-content {
  color: white;
  font-size: 24px;
  text-align: center;
}

.fullscreen-box .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fullscreen-box .gallery img {
  margin: 10px;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  cursor: pointer;
}
