.navigation-bar {
  padding: 10px 20px;
  width: 100%;
  margin: auto;
  position: absolute;
  
  background-color: #a4c2e1;
  z-index: 100000;

  color: white;
  font-family: 'poppins';
}


.navigation-bar ul.nav-list {
  display: flex;
  justify-content: space-around;
}

.navigation-bar nav {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.navigation-bar .logo {
  height: 40px;
}

.navigation-bar .logo img {
  height: 100%;
}

.nav-list li {
  font-weight: 600;
}
.nav-list li:hover {
  color: #377ab4;
}
